@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<div>
    <h2>Create a role</h2>
    @using (Html.BeginForm())
    {
        <table class="table table-bordered table-hover">
            <tr>
                <td>Enter role name to be created: </td>
                <td>@Html.EditorFor(m => m.Name) </td>
            </tr>
        </table>
        <input type="submit" value="Create Role" />
    }
</div>