################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BHMS/App_Data/database-for-bhmss22list.mdf
