.item-category9639-container {
  min-height: 100vh;
}
.item-category9639-item-category9639 {
  /*width: 1440px;*/
  height: 900px;
  display: flex;
  overflow: hidden;
  position: relative;
  /*max-width: 1440px;*/
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-image: url("imgs/87712f15-5e81-4195-8e80-6a940754fe55-ykum-1500w.png");
  background-size: cover;
}

.tableContent {
    top: 130px;
    left: 70px;
    width: 1035px;
    height: 280.5px;
    display: flex;
    color: purple;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
}
.item-category9639-image {
    top: 110px;
    left: 130px;
    width: 1179px;
    height: 701px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.75);
    background-image: url("imgs/rectangle469640-yye8-800h.png");
}
.item-category9639-text {
  /*top: 329px;
  left: 218px;*/
  color: rgba(0, 0, 0, 1);
  height: auto;
  /*position: absolute;*/
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.item-category9639-text1 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.item-category9639-text2 {
  top: 152px;
  left: 218.050048828125px;
  color: rgba(3, 0, 103, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.item-category9639-text3 {
  color: rgba(3, 0, 103, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}

.item-category9639-text4 {
  color: rgba(3, 0, 103, 1);
  height: auto;
/*  position: absolute;*/
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.item-category9639-text5 {
  color: rgba(3, 0, 103, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.item-category9639-svg {
  top: 300px;
  left: 174px;
  width: 1034;
  height: 1px;
  position: absolute;
}
.item-category9639-svg1 {
  top: 393.25px;
  left: 174px;
  width: 1034;
  height: 1px;
  position: absolute;
}
.item-category9639-image1 {
  top: 333px;
  left: 676px;
  width: 30px;
  height: 27px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.item-category9639-image2 {
  top: 333px;
  left: 720px;
  width: 30px;
  height: 27px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.item-category9639-text6 {
  top: 219px;
  left: 968px;
  color: rgba(3, 0, 103, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.item-category9639-text7 {
  color: rgba(3, 0, 103, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.item-category9639-image3 {
  top: 21px;
  left: 18px;
  width: 103px;
  height: 119px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
