.missing-item9651-container {
  min-height: 100vh;
}
.missing-item9651-missing-item9651 {
/*  width: 1440px;*/
  height: 900px;
  display: flex;
  overflow: hidden;
  position: relative;
  /*max-width: 1440px;*/
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-image: url("imgs/08dbe546-bae8-4664-bafd-cc93b263ce09-3lr-1500w.png");
  background-size: cover;
}
.missing-item9651-image {
  top: 81px;
  left: 720px;
  width: 634px;
  height: 735px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.75);
}
.missing-item9651-text {
  top: 140px;
  left: 767px;
  color: rgba(3, 0, 103, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.missing-item9651-text01 {
  color: rgba(3, 0, 103, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.missing-item9651-svg {
    top: 291px;
    left: 767px;
    width: 500;
    height: 57;
    position: absolute;
    border-radius: 10px;
    border: 2px solid;
    border-color: rgba(3, 0, 103, 1);
}

.missing-item9651-svg1 {
    top: 410px;
    left: 767px;
    width: 500;
    height: 57;
    position: absolute;
    border-radius: 10px;
    border: 2px solid;
    border-color: rgba(3, 0, 103, 1);
}

.viewBagErrorMessageRed {
    top: 580px;
    left: 767px;
    width: 500;
    height: 57;
    position: absolute;
    border-color: transparent;
    background-color: transparent;
    color:red;
}

.viewBagErrorMessageGreen {
    top: 580px;
    left: 767px;
    width: 500;
    height: 57;
    position: absolute;
    border-color: transparent;
    background-color: transparent;
    color: green;
}


input[type=submit] {
    /*background-color: #62529c;*/
    background-color: rgba(3, 0, 103, 1);
    border: none;
    color: #fff;
    /*padding: 15px 30px;*/
    text-decoration: none;
    margin: 4px 25px;
    cursor: pointer;

}
.missing-item9651-group6910517 {
    top: 529px;
    left: 767px;
    width: 232px;
    height: 31px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    /*
    border-color: rgba(3, 0, 103, 1);*/
    background-color: transparent;
}
.missing-item9651-text05 {
  top: 4px;
  left: 29px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.missing-item9651-text06 {
    color: rgba(3, 0, 103, 1);
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 500px;
    font-stretch: normal;
    text-decoration: none;
}
.missing-item9651-group7010520 {
    padding-left: 88px;
    border-radius: 10px;
  top: 724px;
  left: 999px;
  width: 236px;
  height: 54px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(3, 0, 103, 1);
}
.missing-item9651-text07 {
  top: 13px;
  left: 53px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.missing-item9651-text08 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.missing-item9651-image1 {
  top: 21px;
  left: 18px;
  width: 103px;
  height: 119px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.missing-item9651-text09 {
  top: 264px;
  left: 767px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.missing-item9651-text10 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.missing-item9651-text11 {
  top: 383px;
  left: 771px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.missing-item9651-text12 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.missing-item9651-text13 {
  top: 309px;
  left: 778px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 300px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.missing-item9651-text14 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 300px;
  font-stretch: normal;
  text-decoration: none;
}
.missing-item9651-text15 {
  top: 428px;
  left: 778px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 300px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.missing-item9651-text16 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 300px;
  font-stretch: normal;
  text-decoration: none;
}
