.student-list19798-container {
  min-height: 100vh;
}
.student-list19798-student-list19798 {
  /*width: 1440px;*/
  height: 900px;
  display: flex;
  overflow: hidden;
  position: relative;
  /*max-width: 1440px;*/
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-image: url("imgs/f6759895-4978-4dee-b01c-15a7491ea42e-53bg-1500w.png");
  background-size: cover;
}
.student-list19798-image {
  top: 115px;
  left: 84px;
  width: 1271px;
  height: 670px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.75);
}
.student-list19798-group68197100 {
  top: 169px;
  left: 147px;
  width: 1151px;
  height: 280.5px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}

.student-list19798-text {
  top: 220px;
  left: 679px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.student-list19798-text01 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.student-list19798-text02 {
  top: 220px;
  left: 1100px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.student-list19798-text03 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.student-list19798-text04 {
  top: 220px;
  left: 556px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.student-list19798-text05 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.student-list19798-text06 {
  top: 220px;
  left: 977px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.student-list19798-text07 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.student-list19798-text08 {
  top: 220px;
  left: 328px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.student-list19798-text09 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.student-list19798-text10 {
  top: 220px;
  left: 173px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.student-list19798-text11 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.student-list19798-text12 {
  top: 136px;
  left: 344px;
  color: rgba(3, 0, 103, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.student-list19798-text13 {
  color: rgba(3, 0, 103, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.student-list19798-text14 {
  top: 136px;
  left: 510px;
  color: rgba(3, 0, 103, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.student-list19798-text15 {
  color: rgba(3, 0, 103, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.student-list19798-text16 {
  top: 136px;
  left: 724px;
  color: rgba(3, 0, 103, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.student-list19798-text17 {
  color: rgba(3, 0, 103, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.student-list19798-text18 {
  top: 136px;
  left: 1090px;
  color: rgba(3, 0, 103, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.student-list19798-text19 {
  color: rgba(3, 0, 103, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.student-list19798-text20 {
  top: 136px;
  left: 948px;
  color: rgba(3, 0, 103, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.student-list19798-text21 {
  color: rgba(3, 0, 103, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.student-list19798-text22 {
  top: 136px;
  left: 161px;
  color: rgba(3, 0, 103, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.student-list19798-text23 {
  color: rgba(3, 0, 103, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.student-list19798-text24 {
  top: 0px;
  left: 1px;
  color: rgba(3, 0, 103, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.student-list19798-text25 {
  color: rgba(3, 0, 103, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.student-list19798-text31 {
  top: 54px;
  left: 0px;
  color: rgba(3, 0, 103, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.student-list19798-text32 {
  color: rgba(3, 0, 103, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.student-list19798-text33 {
  top: 136px;
  left: 0px;
  color: rgba(3, 0, 103, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.student-list19798-text34 {
  color: rgba(3, 0, 103, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.student-list19798-svg {
  top: 187px;
  left: 1.0543212890625px;
  width: 1150;
  height: 1px;
  position: absolute;
}
.student-list19798-svg1 {
  top: 280.5px;
  width: 1150;
  height: 1px;
  position: absolute;
}
.student-list19798-image1 {
  top: 189px;
  left: 4px;
  width: 90px;
  height: 90px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.student-list19798-image2 {
  top: 21px;
  left: 18px;
  width: 66px;
  height: 78px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
