.user-complaints19767-container {
  min-height: 100vh;
}
.user-complaints19767-user-complaints19767 {
  /*width: 1440px;*/
  height: 1100px;
  display: flex;
  overflow: hidden;
  position: relative;
  /*max-width: 1440px;*/
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-image: url("imgs/28e69ea1-3128-4c0d-a183-b57569803d5e-kzr-1500w.png");
  background-size: cover;
}
.user-complaints19767-image {
  top: 81px;
  left: 720px;
  width: 634px;
  height: 735px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.75);
}
.user-complaints19767-text {
  top: 140px;
  left: 767px;
  color: rgba(3, 0, 103, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.user-complaints19767-text01 {
  color: rgba(3, 0, 103, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.user-complaints19767-svg {
    top: 291px;
    left: 767px;
    width: 500;
    height: 57;
    position: absolute;
    border: 2px solid;
    border-color: rgba(3, 0, 103, 1);
    border-radius: 10px;
}
.user-complaints19767-svg1 {
    top: 404px;
    left: 767px;
    width: 500;
    height: 187;
    position: absolute;
    border: 2px solid;
    border-color: rgba(3, 0, 103, 1);
    border-radius: 10px;
}
.user-complaints19767-svg2 {
    top: 647px;
    left: 767px;
    width: 500;
    height: 57;
    position: absolute;
    border: 2px solid;
    border-color: rgba(3, 0, 103, 1);
    border-radius: 10px;
}
.user-complaints19767-group7019774 {
    color: #fff;
    padding-left: 89px;
    border-radius: 10px;
  top: 724px;
  left: 1092px;
  width: 236px;
  height: 54px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(3, 0, 103, 1);
}
.user-complaints19767-text05 {
  top: 13px;
  left: 87px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.user-complaints19767-text06 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.user-complaints19767-text07 {
  top: 264px;
  left: 767px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.user-complaints19767-text08 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.user-complaints19767-text09 {
  top: 377px;
  left: 767px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.user-complaints19767-text10 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.user-complaints19767-text11 {
  top: 620px;
  left: 767px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.user-complaints19767-text12 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.user-complaints19767-image1 {
  top: 21px;
  left: 18px;
  width: 103px;
  height: 119px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
